body{
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 800;
	background: url('../img/gplaypattern.png');
}

h2{
	margin-top:0;
}

h2 a, h2 a:visited, h2 a:focus{
	color: #888;
}

p{
	color:#888;
	font-weight:400;
	line-height: 1.5;
	word-break:break-word;
}

.container{
	width:980px;
	position: relative;
}
#topstripe{
	background-color:#333;
	width:100%;
	color:#fff;
	height:1px;
}
#top{
	margin:20px 0 10px 0px;
}
.mobilemenu{
	margin-left:40px;
}

a.mobilemenu{
	padding:20px;
	font-size:24px;
}

.mobilemenu:first-child{
	margin-right:20px;
}

.row{
	margin:0;
	position: relative;
}

.main{

}
.grid{
	position: relative;
	min-height: 100px;
	min-width:714px;
	margin:10px 0;
	font-size:12px;
	float:left;
	background-color: #fff;
	padding:12px;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);

}
.old{
	background-color:#feffeb;
}
.single{
	min-height:552px;
}
.grid img{
	max-width: 690px;
}
.imageholder{
	background-color:#fff;
	width:690px;
}
.old .imageholder{
	background-color:#feffeb;
	width:690px;
}

.paging{
	position: relative;
	float:left;
	width:100%;
}

.overlay{
	position: absolute;
	right:10px;
	bottom:10px;
	z-index: 2;
}

.hidden{
	visibility: hidden;
}

#left{
	float:left;
	width:710px;
	margin-right:20px;
}
#right{
	float:right;
	width:250px;
	text-align: right;
	margin-top:10px;
	margin-bottom: 160px
}

.menu{
	width:240px;
	height:140px;
	margin:0;
	padding:0;
	margin-bottom:20px;
}
.menu ul{
	list-style-type: none;
	margin:0;
	padding:0;
}
.menu ul li{
	padding:2px 0;
	color:#333;
	font-size:20px;
}
.menu ul li:first-child{
	padding:0 0 2px 0;
}
.menu ul li div{
	padding:13px 13px;
}
.menu ul li div{
	background-color:#fff;
}
.loadmore{
	margin-left:2px;
	font-weight:800;
}
.rightad{
	text-align: right;
	margin:0;
	width:250px;
	height:360px;
	display: block;
	margin-top:36px;
}
.ad{
	height:360px;
}
.bottomad{
	height:120px;
	display: block;
	margin-top:10px;
	margin-bottom:20px;
}
#footer{
	padding:40px;
	background-color:#333;
	color:#fff;
	font-weight: 400;
}
.footerleft{
	float:left;
}
.footerleft ul{
	list-style-type: none;
	margin:0;
	padding:0;
}
.footerright{
	float:right;
	width:420px;
}
.footerright a, .footerright a:visited{
	color:#fff;
}
.white{
	color:#fff;
}
.small{
	font-size:10px;
	font-weight: 200;
}
.madeinskovde{
	margin-top:20px;
	font-weight: 800;
}

.btn-lg{
	padding:25px 20px;
}

#id_url{
	height:45px;
	font-size:18px;
	line-height: 1.33;
	border-radius:6px;
	padding: 10px 16px;
	width:100%;
	margin-right:20px;
}

.link-form-submit{
	width:300px;
	margin: 20px auto;
	text-align:center;
}

.submit-link-form{
	text-align:center;
	margin:0 auto;
	width:100%;
}

.infolist{
	list-style-type: none;
	text-align:left;
	padding:0;
}

.infolist li{
	padding:10px;
	border-radius: 3px
}

.infolist .error{
  background-color:#c45656;
  color:#fff;
 }

@media(min-width: 1100px) {
	.row { width: 980px;}
	.btn-lg{ padding:10px 16px;} 
}