body {
    color: #777;
    margin:0;
    padding:0;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    /*padding-left: 150px; /* left col width "#menu" */
    left: 0;
}

/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 40px auto;
    padding: 0;
    max-width: 800px;
    margin-bottom: 0;
    line-height: 1.6em;
}

.header {
     position:fixed;
     top:0;
     color: #999;
     width:100%;
     z-index:2;
     background-color:#fff;
     border-bottom:1px solid #f0f0f0;
 }
    .title {
        font-weight: 300;
        color: #888;
        float:left;
        padding:15px;
    }

    .title a:link, .title a:visited, .title a:hover, .title a:active, h1 a, h1 a:hover, h1 a:visited{
        text-decoration: none !important;
        color: #888 !important;
    }

     .navigation {
        float:right;
        padding:15px;
    }
        .btn{
            color:rgb(21, 125, 251);
            line-height: 48px;
            height:48px;
            padding:10px 15px;
            font-size:1.4em;
        }

h1 {
    margin-top: 30px;
    font-weight: 300;
    color: #888;
    padding:0 20px;
}

h1 a{
  color: #888;
}

p {
    padding:0 20px;
    word-break:break-word;
}

#owl-demo .owl-item{
  width:100%;
}

#owl-demo .item{
  padding-bottom:15px;
  border-bottom:1px solid #888;
}

#owl-demo .item:last-child{
  padding-bottom:0;
  border-bottom:0;
}

#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

.randomlink{
    width:100%;
    border:1px solid #888;
    background-color:#888;
    text-align:center;
    line-height: 50px;
}

.randomlink a{
    padding:0 15px;
    text-decoration: none;
    color:#fff;
    display:block;
}

#footer{
     position:fixed;
     bottom:0;
     color: #999;
     width:100%;
     z-index:2;
     background-color:#fff;
     border-top:1px solid #f0f0f0;
}

    #bottomad{
        margin:0 auto;
        text-align:center;
    }
    .bestofblocket-responsive { width: 320px; height: 50px; margin:0 auto; text-align: center;}
    @media(min-width: 500px) { .bestofblocket-responsive { width: 468px; height: 60px; } }
    @media(min-width: 800px) { .bestofblocket-responsive { width: 728px; height: 90px; } }
