{% extends "mobile/base.html" %}
{% block title %}{{ ad.title }}{% endblock %}

{% block extrameta %}
	<meta property="og:image" content="{{ ad.image.url }}"/>
{% endblock extrameta %}

{% block rightnavigation %}
	<div class="fb-share-button" data-href="http://www.bestofblocket.se/{{ ad.slug }}/" data-type="button"></div>
{% endblock rightnavigation %}

{% block content %}
<div id="owl-demo" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
	<div class="owl-wrapper-outer autoHeight">
	<div class="owl-wrapper" style="display:block;">
		<div class="owl-item">
		<div class="item">
			<h1>{{ ad.title }}</h1>
			{% if ad.image %}
				<img src="{{ ad.image.url }}" alt="{{ ad.title }}">
			{% endif %}
			<p>{{ ad.text|linebreaksbr }}</p>
		</div>
		</div>
	</div>
	</div>
</div>
{% endblock content %}