{% extends "mobile/base.html" %}
{% block title %}Best of blocket - Sedan 2004{% endblock %}

{% block rightnavigation %}
    <div class="fb-like" data-href="https://www.facebook.com/bestofblocket.se" data-width="" data-layout="" data-action="" data-size="" data-share="false"></div>
{% endblock rightnavigation %}

{% block content %}
<div id="owl-demo" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
    {% for ad in ad_list %}
    <div class="owl-wrapper-outer autoHeight">
    <div class="owl-wrapper" style="display:block;">

        <div class="owl-item">
        <div class="item">
            {% if ad.generation == 3 %}
                <h1><a href="{% url 'ad' ad.slug %}" title="{{ ad.title }}">{{ ad.title }}</a></h1>
            {% endif %}
            {% if ad.image %}
                <a href="{% url 'ad' ad.slug %}" title="{{ ad.title }}">
                    <img src="{{ ad.image.url }}" alt="{{ ad.title }}" {% if forloop.counter > 2 %}loading="laxy"{% endif %}>
                </a>
            {% endif %}
            {% if ad.generation == 3 %}
                <p>{{ ad.text|linebreaksbr }}</p>
            {% endif %}
            {% if forloop.last %}
                {% if page_obj.has_next %}
                <div class="randomlink">
                    <a href="?page={{ page_obj.next_page_number }}">Nästa sida</a>
                </div>
                {% endif %}
            {% endif %}
        </div>
        </div>
    </div>
    </div>
    {% endfor %}

</div>
{% endblock content %}
