{% extends "mobile/base.html" %}
{% block title %}Best of blocket - Sedan 2004{% endblock %}

{% block rightnavigation %}
    <div class="fb-like" data-href="https://www.facebook.com/pages/BestofBlocketse/235060191081" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
{% endblock rightnavigation %}

{% block content %}
<div id="owl-demo" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
    {% for ad in ad_list %}
    <div class="owl-wrapper-outer autoHeight">
    <div class="owl-wrapper" style="display:block;">

        <div class="owl-item">
        <div class="item">
            <h1><a href="{% url 'ad' ad.slug %}" title="{{ ad.title }}">{{ ad.title }}</a></h1>
            {% if ad.image %}
                <a href="{% url 'ad' ad.slug %}" title="{{ ad.title }}">
                    <img src="{{ ad.image.url }}" alt="{{ ad.title }}">
                </a>
            {% endif %}
            <p>{{ ad.text|linebreaksbr }}</p>
        </div>
        </div>


    </div>
    </div>
    {% endfor %}
    {% if page_obj.has_next %}
    <div class="randomlink">
        <a href="?page={{ page_obj.next_page_number }}">Visa fler annonser</a>
    </div>
    {% endif %}
</div>
{% endblock content %}