kind: HTTPRoute
apiVersion: gateway.networking.k8s.io/v1
metadata:
  name: bestofblocket-www
spec:
  parentRefs:
    - kind: Gateway
      name: traefik-gateway
  hostnames:
    - "www.bestofblocket.se"
  rules:
    - backendRefs:
        - name: bestofblocket
          port: 8500
---
kind: HTTPRoute
apiVersion: gateway.networking.k8s.io/v1
metadata:
  name: bestofblocket-non-www
spec:
  parentRefs:
    - kind: Gateway
      name: traefik-gateway
  hostnames:
    - "bestofblocket.se"
  rules:
    - filters:
      - type: RequestRedirect
        requestRedirect:
          statusCode: 301
          hostname: www.bestofblocket.se
