{% extends "base.html" %}

{% block extrahead %}
<title>{{ ad.title }} - Best of blocket</title>
<meta property="og:site_name" content="Best of blocket"/>
<meta property="og:url" content="http://www.bestofblocket.se{% url 'ad' ad.slug %}"/>
{% if ad.generation == 3 %}
{% if ad.image %}
<meta property="og:image" content="http://bestofblocketse.s3.amazonaws.com/{{ ad.image.file.name }}"/>
{% endif %}
{% endif %}
{% endblock extrahead %}


{% block content %}
	<div class="grid{% if ad.generation == 1 %} old{% endif %} single">
	{% if ad.generation == 3 %}
		<h2>{{ ad }}</h2>
	{% endif %}
	{% if ad.image %}
	<div class="imageholder">
		<img src="{{ ad.image.url }}">
	</div>
	{% endif %}
	{% if ad.generation == 3 %}
		<p class="text">{{ ad.text|linebreaks }}</p>
	{% endif %}
	<div class="overlay hidden">
		<div class="fb-like" data-href="http://www.bestofblocket.se{% url 'ad' ad.slug %}" data-layout="button_count" data-send="false" data-show-faces="true"></div>
	</div>
</div>

{% endblock content %}
