{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block extrameta %}{% endblock extrameta %}
        <title>{% block title %}Best of blocket{% endblock title %}</title>
        <link rel="stylesheet" href="{% static 'css/output.css' %}" />
        {% block extrajs %}{% endblock extrajs %}
        <script
            async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4932792919894537"
            crossorigin="anonymous"
        ></script>
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-8EL0TJ0805"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());
            gtag("config", "G-8EL0TJ0805");
        </script>
    </head>
    <body>
        <div class="container mx-auto">
            <header class="flex flex-col justify-center items-center pt-4">
                <a href="/" title="Bestofblocket.se"><img src="{% static 'img/logotype.png' %}" alt="Bestofblocket" /></a>
            </header>
            <section class="flex flex-col justify-center items-center m-4">
                <form action="/search/" method="get" class="flex w-full max-w-3xl">
                    <input name="q" type="search" value="{{ request.GET.q }}" placeholder="Sök" class="border border-gray-200 md:border-2 md:border-r-0 border-r-0 p-6 m-0 flex-1 rounded-l-lg md:rounded-l-lg" />
                    <button type="submit" class="border border-blue-500 border-l-0 md:border-2 p-6 m-0 bg-blue-500 text-white rounded-r-lg md:rounded-r-lg cursor-pointer">Sök</button>
                </form>
            </section>
            <main class="flex flex-col justify-center items-center">
                {% block content %}{% endblock content %}
            </main>
        </div>
    </body>
</html>
