{% extends "base.html" %}

{% block extrahead %}
<title>Best of blocket - Sedan 2004</title>
{% endblock extrahead %}

{% block content %}

{% for ad in ad_list %}

<div class="grid {% if ad.generation == 1 %}old{% endif %}">
	{% if ad.generation == 3 %}
		<h2><a href="{% url 'ad' ad.slug %}">{{ ad }}</a></h2>
	{% endif %}
	{% if ad.image %}
	<div class="imageholder">
		<a href="{% url 'ad' ad.slug %}"><img src="{{ ad.image.url }}" {% if forloop.counter > 2 %}loading="lazy"{% endif %}></a>
	</div>
	{% endif %}
	{% if ad.generation == 3 %}
		<p class="text">{{ ad.text|linebreaks }}</p>
	{% endif %}
	<div class="overlay hidden">
		<div class="fb-like" data-href="http://www.bestofblocket.se{% url 'ad' ad.slug %}" data-layout="button_count" data-send="false" data-show-faces="true"></div>
	</div>
</div>

{% endfor %}
{% if page_obj.has_next %}
<div>
<div class="paging clearfix">
<a href="?page={{ page_obj.next_page_number }}" class="btn btn-default btn-lg btn-block loadmore">Visa fler</a>
</div>
</div>
{% endif %}

{% endblock content %}

{% block rightad %}
{{ block.super }}
{% endblock rightad %}