{% load static %}
<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">

    <title>Best of blocket</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/side-menu.css' %}">

    <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/ui2.js' %}"></script>

</head>
<body>

<div id="layout">

    <div id="main">
        <div class="header clearfix">
            <span class="title">Best of Blocket</span>
            <div class="navigation">
              <a class="btn next">></a>
            </div>
        </div>

        <div class="content">
            <div id="owl-demo" class="owl-carousel">
            </div>
        </div>
        <style>
        #bottomad{
          margin:0 auto; text-align:center;}
        </style>
        <div id="bottomad">
          <style>
          .bestofblocket-responsive { width: 320px; height: 50px; margin:0 auto; text-align: center;}
          @media(min-width: 500px) { .bestofblocket-responsive { width: 468px; height: 60px; } }
          @media(min-width: 800px) { .bestofblocket-responsive { width: 728px; height: 90px; } }
          </style>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Bestofblocket Responsive -->
          <ins class="adsbygoogle bestofblocket-responsive"
               style="display:inline-block"
               data-ad-client="ca-pub-4932792919894537"
               data-ad-slot="7556839374"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
        <div id="footer" class="clearfix">
            <div class="love"><3</div>
            <div class="share">Share on facebook</div>
        </div>
    </div>
</div>

</body>
</html>
