{% extends "base.html" %}


{% block content %}

<h1>Tipsa oss</h1>
<p class="lead">
	Gör oss bättre! Fyll i länken till den roliga annonsen du har hittat.
</p>
<form action="{% url 'submit' %}" method="post" class="submit-link-form">{% csrf_token %}
<input type="text" name="url" id="id_url" placeholder="http://www.blocket.se/stockholm/haftig_grej_20111.htm?ca=11&w=1">
<input class="btn btn-lg btn-primary link-form-submit" type="submit" value="Tipsa oss">
{% endblock content %}

{% block rightad %}
{% endblock rightad %}