name: Build and Deploy to GKE

on:
  push:
    branches:
      - master

env:
  PROJECT_ID: ${{ secrets.GKE_PROJECT }}
  GKE_CLUSTER: cluster-2
  GKE_ZONE: europe-west1-b
  DEPLOYMENT_NAME: bestofblocket
  POD_CONTAINER_NAME: bestofblocket
  ARTIFACT_REGISTRY_REPO: bestofblocket
  IMAGE: bestofblocket
  GKE_SA_KEY: ${{ secrets.GKE_SA_KEY }}

jobs:
  lint_and_check:
    uses: ./.github/workflows/lint_and_check.yml

  test:
    uses: ./.github/workflows/test.yml

  setup-build-publish-deploy:
    needs:
      - lint_and_check
      - test
    name: Setup, Build, Publish, and Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - id: "auth"
        name: "Authenticate to Google Cloud"
        uses: "google-github-actions/auth@v2"
        with:
          credentials_json: "${{ secrets.GKE_SA_KEY }}"

      # Setup gcloud CLI
      - uses: google-github-actions/setup-gcloud@v3
        with:
          project_id: ${{ secrets.GKE_PROJECT }}

      # Configure Docker to use the gcloud command-line tool as a credential
      # helper for authentication
      - run: |-
          gcloud --quiet auth configure-docker europe-west1-docker.pkg.dev

      # Build the Docker image
      - name: Build
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64
          tags: |
            "europe-west1-docker.pkg.dev/$PROJECT_ID/$ARTIFACT_REGISTRY_REPO/$IMAGE:$GITHUB_SHA"
            "europe-west1-docker.pkg.dev/$PROJECT_ID/$ARTIFACT_REGISTRY_REPO/$IMAGE:latest"
          secrets: |
            "DJANGO_SECRET_KEY=${{ secrets.DJANGO_SECRET_KEY }}"
            "MAILGUN_API_KEY=${{ secrets.MAILGUN_API_KEY }}"
            "AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}"
            "AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}"
            "MAILGUN_API_KEY=${{ secrets.DJANGO_SECRET_KEY }}"
            "MAILGUN_API_KEY=${{ secrets.DJANGO_SECRET_KEY }}"
            "MAILGUN_API_KEY=${{ secrets.DJANGO_SECRET_KEY }}"

      # Push the Docker image to Google Container Registry
      - name: Publish
        run: |-
          docker push "europe-west1-docker.pkg.dev/$PROJECT_ID/$ARTIFACT_REGISTRY_REPO/$IMAGE:$GITHUB_SHA"
          docker push "europe-west1-docker.pkg.dev/$PROJECT_ID/$ARTIFACT_REGISTRY_REPO/$IMAGE:latest"

      - uses: actions-hub/kubectl@master
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
        with:
          args: --insecure-skip-tls-verify set image deployment ${{ env.DEPLOYMENT_NAME }} ${{ env.POD_CONTAINER_NAME }}=europe-west1-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.ARTIFACT_REGISTRY_REPO }}/${{ env.IMAGE }}:${{ github.sha }}
