name: Lint and Static Analysis

on:
  pull_request:
    types: [labeled, synchronize, opened, reopened]
  workflow_call:

permissions:
  contents: read

jobs:
  linters:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: ruff
        uses: astral-sh/ruff-action@v3
      - run: ruff check --fix
      - run: ruff format --diff
  static-analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      - name: ty
        run: uv run ty check
